<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.hishidama.jp/xtext/afw/flow_dsl/FlowDsl" 
       class = "jp.hishidama.xtext.afw.flow_dsl.flowDsl.FlowDslPackage"
       genModel = "jp/hishidama/xtext/afw/flow_dsl/FlowDsl.genmodel" /> 
	
  </extension>



</plugin>
